* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
strong {
  color: green;
}

.max-width-wrapper {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
}

.intro-chunk {
  max-width: 300px;
  padding-left: 16px;
  padding-right: 16px;
}

.indented-heading {
  background-color: orange;
  padding: 16px;
  border-bottom: orangered 8px solid;
  margin-left: -32px;
  width: fit-content;
}
main {
  background-color: darkgray;
  border-top: gray 8px solid;
}

.card {
  background-color: whitesmoke;
  padding: 1px 16px 16px;
  border-bottom: gray 8px solid;
  margin: 36px 0;
}
